/*piratova_joan*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  color: white;
}

#valor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background-color: white;
}

#valor p {
  width: 50%;
}

#valor img {
  border-radius: 4px;
  border: 3px solid rgb(255, 255, 255);
}

#clientes {
  text-align: center;
  padding: 40px;
}

.clientes-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  width: 250px;
  padding: 20px;
  border: 3px solid black;
  border-radius: 7px;
  background-color: white;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}
#validacion {
  text-align: center;
  padding: 10px;
  background-color: rgb(116, 116, 116);
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  gap: 3px;
}

form input,
form select,
form textarea {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid gray;
}

button {
  padding: 4px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #ff0000;
  color: black;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #222;
  color: white;
}
/*config de oa demo */

.productos {
  text-align: center;
  padding: 40px;
}

.productos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.producto-card {
  width: 250px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  margin: 15px;
  transition: transform 0.3s ease;
}

.producto-card:hover {
  transform: scale(1.05);
}

.producto-card img {
  width: 100%;
  border-radius: 10px;
}

.producto-card button {
  margin-top: 10px;
}